** {
    margin: 0; padding: 0;
    }

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header a{
    text-decoration: none;
    padding: 20px;
    float: right;
    font-size: 20px;
    color: #f5c842;
}
h3{
    color: #808080;
    font-size: 28px;
}
 .nav{
    width: 100%;
    height: 80px;
    min-width: 600px;
   /* margin-right: 80px;*/
}
.landing{
    background-image: url("../dark3.jpg");
    background-size: cover;
    width:100%;
    height: 600px;
    opacity:1;
}
.intro_abt{
    color: #fff;
}
h5{
    color: #808080;
    font-size: 18px;
}
 
.intro{
  margin:  auto;
  width: 60%;
  padding-top: 170px;
  text-align: left;
}
.grey{
    color: #808080;
}
.intro p{
    font-size: 30px;
    padding-top:0;
    text-align: left;
}
.button{
    color:#fff;
    background-color: #f5c842;
    margin-left:280px;
    border: none;
    padding:10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-items: left;
    transition-duration: 0.4s;
    cursor: pointer;
    

}
.button:hover {
    background-color:#d1b217 ;
    color: #fff;
}
 .h4{
     margin-top: 80px;
     font-size: 30px;
     text-align: center;
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 8px 10px #888;
}
.abt{
    margin-left: 800px;
    padding-top: 30px;
}
h3{
    text-align: center;
    padding-top: 30px;
}


/*#about{
    margin-left: 70px;
    margin-top:60px;
    background-position: absolute;
    background-color: white;
}*/

.svg{
    width:20px;
    height: 20px;
}
h4{
    margin-left: 50px;
}
.img{
    padding-top: 30px;
}
.abt_image{
    float: left;

}
.abt_section{
    float: left;
    width: 30%;
    padding:0 30px 0 30px;
}


/*@media only screen and (max-width:600px){
    .landing,.intro{
        width: 100%;
    }
    .nav{
        display: inline-block;
    }
}


@media only screen and (max-width:767px){
    .landing,.intro{
        width: 100%;
    }
    a{
        display: inline-block;
    }
}
@media only screen and (max-width:1000px){
    .landing,.intro{
        width: 100%;
    }
    a{
        display: inline-block;
    }
}
@media only screen and (max-width:1366px){
    .landing,.intro{
        width: 100%;
    }
    a{
        display: inline-block;
    }
}*/






